.container {
  /* height: 500px; */
  width: 600px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.box {
  height: 50px;
  width: 50px;
  border: 1px solid black;
  margin: 10px;
  transition: 0.5s;
}
/* .box:hover {
   background-color: rgb(121, 96, 233);
 } */
